/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img-ngobar-8/img/jumbotron-bg.jpg);
    background-size:cover;
    height: 540px; 
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}


.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
   background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0)) ;
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}


/* workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}


/* testimonial */
.testimonial {
    margin-top: 120px;
}

.testimonial h5 {
   text-align: center;
   font-weight: 200;
   font-style: italic;
   font-size: 24px; 
}

.testimonial figure img {
  width: 80px;
  margin: 20px 10px 5px;
  opacity: 0.6;

}

.testimonial figure img.utama {
    width: 100px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.testimonial figure p {
    font-size: 12px;
    color: #acacac;  
    margin-top: -5px !important;
}

.testimonial figcaption {
    text-align: center;
}

/* footer */
.footer {
    margin-top: 100px;
}
.footer {
    color: #acacac;
    font-size: 18px;
}
/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

   .nav-link:hover::after {
       content: '';
       display: block;
       border-bottom: 3px solid #0B63DC;
       width: 50%;
       margin: auto;
       padding-bottom: 5px;
       margin-bottom: -8px;
   }

.jumbotron {
    margin-top: -75px;
    height: 620px;
}

.jumbotron .display-4 {
    font-size: 62px;
}



.workingspace {
    text-align: left;
}

.testimonial h5 {
    font-size: 32px;
}


}